<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>회원가입</title>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>



<script>
var idck = 0;//아이디 중복확인
$("#id").focus(function(){
	console.log("변경전 idck="+idck);
	idck=0;
	console.log("변경후 idck="+idck);
});
$("#id_check").click(function() {

	var $id = $("#id").val();
	console.log($id);

	$.ajax({
		type : 'post',
		data : {$id:$id},
		url : 'idcheck',
		datatype : 'json',
		success : function(data) {
			console.log("data="+data);
			console.log("data.cnt="+data.cnt);
			
			if (data==1) {
				alert("아이디가 존재합니다. 다른 아이디를 입력해주세요.");
				idck = 0;
				$("#id").focus();
			} else if(data== 0) {
				alert("사용가능한 아이디입니다.");
				$("#pw").focus();
				idck = 1;
			}
			else if(data==-1){
				alert("아이디를 입력해주세요.");
				idck = 0;
				$("#id").focus();
			}

		}, 
		error : function(error) {
			console.log(error);
		}

	}); 
});

	$(function() {
		// 회원 가입 처리
		$('#hag').click(
						function(e) {
							e.preventDefault();
							if ($("#companyname").val() == '') {
								alert('업체이름을 입력하세요');
								$("#companyname").focus();
								return false;
							}

							if ($("#name").val() == '') {
								alert('대표명을 입력하세요');
								$("#name").focus();
								return false;
							}

							if ($("#id").val() == '') {
								alert('아이디 입력하세요');
								$("#id").focus();
								return false;
							}

							if ($("#pw").val() == '') {
								alert('비밀번호를 입력하세요');
								$("#pw").focus();
								return false;
							}

							if ($("#pwcheck").val() == '') {
								alert('비밀번호를 다시 한번 더 입력하세요');
								$("#pwcheck").focus();
								return false;
							}

							if ($("#pw").val() !== $("#pwcheck").val()) {
								alert('비밀번호를 둘다 동일하게 입력하세요');
								return false;
							}

							if ($("#tel").val() == '') {
								alert('휴대폰 번호를 입력하세요');
								$("#tel").focus();
								return false;
							}
							var email = $('#mail').val();
							if (email == '') {
								alert('이메일을 입력하세요');
								$("#mail").focus();
								return false;
							}
								if ($("#address").val() == '') {
									alert('주소를 알맞게해주세요');
									$("#address").focus();
									return false;
								}

							} else {
								var emailRegex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
								if (!emailRegex.test(email)) {
									alert('이메일 주소가 유효하지 않습니다. ex)abc@gmail.com');
									$("#mail").focus();
									return false;
								}
							}

							$.ajax({
										url : 'register.php',
										type : 'POST',
										data : {
											companyname:$("#companyname").val(),
											name : $("#name").val(),
											ID : $('#id').val(),
											email : $('#email').val(),
											password : $('#password')
													.val(),
											tel : $("#tel").val(),
											mobileNO : $("#").val(),
											address:$("#adress").val()
										},
										dataType : "json",
										success : function(response) {
											if (response.result == 1) {
												alert('가입 완료');
												location
														.replace('../index.php'); // 화면 갱신
											} else if (response.result == 0) {
												alert('이미 가입된 아이디입니다');
											} else if (response.result == -2) {
												alert('입력된 값이 없습니다');
											} else {
												alert('등록중에 에러가 발생했습니다');
											}
										},
										error : function(jqXHR, textStatus,
												errorThrown) {
											alert("arjax error : " + textStatus
													+ "\n" + errorThrown);
										}
									});

						});

	});
</script>





<style>
table {
	padding-left: 200px;
}

#h3text {
	margin-left: 50%;
}

#div {
	text-align: center;
	width: 530px;
	padding: 10px;
	padding-left: 30%;
}

input {
	border-left: none;
	border-right: none;
	border-top: none;
	height: 30px;
	font-size: 90%;
	widh: 100px;
}

#url1 {
	height: 23px;
	width: 160px;
}

#url2 {
	height: 23px;
	width: 160px;
}

.btn {
	background: #93C4EF;
	border-radius: 0.5em;
	padding: 5px 20px;
	color: white;
	cursor: pointer;
}

#join_background {
	width: 800px;
	background: rgba(204, 204, 204, 0.25);
}

#id_check {
	width: 80px;
	height: 50px;
	border-radius: 0.5em;
	background: #77CBE3;
	color: white;
	border: solid 1px #77CBE3;
	cursor: pointer;
	padding: 10px;
}

#profile {
	padding-left: 20px;
}

#mail {
	width: 180px;
}

#logo {
	width: 355px;
	height: 150px;
	display: block;
	margin: 0px auto;
	margin-left: 42%;
}

#userbirth {
	font-size: 20px;
}

.box {
	padding-left: 90px;
}
</style>
</head>
<body>


	<header>
		<div id="header">
			<a href="index.jsp"><img id="logo" src="../img/ItGoo!logo.png"></a>
		</div>
	</header>


	<div id="div">
		<h3 id="h3text">보호소회원가입</h3>
		<div id="join_background">



			<form name="joinFrm" action="memberjoin" method="post">
				<table>

					<tr>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>업체명</td>
						<td><input type="text" name="companyname" maxlength="30"
							id="companyname"></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
					</tr>

					<tr>
						<td>대표자명</td>
						<td><input type="text" name="name" maxlength="30" id="name"></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>ID</td>
						<td><input type="text" name="id" maxlength="20" id="id"></td>
						<td><input id="id_check" type="button" value="중복확인"></td>
					</tr>

					<tr>
						<td>&nbsp;</td>
					</tr>

					<tr>
						<td>PW</td>
						<td><input type="password" name="pw" maxlength="30" id="pw"></td>
					</tr>

					<tr>
						<td>&nbsp;</td>
					</tr>

					<tr>
						<td>PW Check</td>
						<td><input type="password" name="pwcheck" maxlength="30"
							id="pwcheck"></td>
						<td id='check'></td>
					</tr>

					<tr>
						<td>&nbsp;</td>
					</tr>

					<tr>
						<td>업체 전화번호</td>
						<td><input type="text" name="tel" maxlength="11" id="tel"></td>
					</tr>

					<tr>
						<td>&nbsp;</td>
					</tr>

					<tr>
						<td>업체 Email&nbsp;</td>
						<td><input type="text" name="mail1" id="mail" maxlength="30"></td>

					</tr>

					<tr>
						<td>&nbsp;</td>

					</tr>
					<tr>
						<td>업체 주소</td>
						<td><input type="text" name="address" size="45" id="address"
							maxlength="30"></td>
					</tr>

					<tr>
						<td>&nbsp;</td>
					</tr>


					<tr>
						<td>사업자등록사진</td>
						<td><input type="file" id="profile1" class="box"
							name="profile" accept=".jpg,.jpeg,.png,.gif,.bmp"></td>
					</tr>

					<tr>
						<td>&nbsp;</td>
					</tr>

					<tr>
						<td>사업체사진&nbsp;</td>
						<td><input type="file" id="profile2" class="box"
							name="profile" accept=".jpg,.jpeg,.png,.gif,.bmp"></td>
					</tr>

					<tr>
						<td></td>
						<td><input type="file" id="profile3" class="box"
							name="profile" accept=".jpg,.jpeg,.png,.gif,.bmp"></td>
					</tr>

					<tr>
						<td></td>
						<td><input type="file" id="profile4" class="box"
							name="profile" accept=".jpg,.jpeg,.png,.gif,.bmp"></td>
					</tr>


					<!-- /////사용자///// -->

					<tr>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>사용자 이름</td>
						<td><input type="text" name="username" maxlength="30"
							id="username"></td>
					</tr>

					<tr>
						<td>&nbsp;</td>
					</tr>

					<tr>
						<td>사용자 전화번호</td>
						<td><input type="text" name="usertel" maxlength="11"
							id="usertel"></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
					</tr>

					<tr>
						<td>사용자 Email</td>
						<td><input type="text" name="usermail1" id="usermail"
							maxlength="30"></td>
					</tr>

					<tr>
						<td>&nbsp;</td>
					</tr>

					<tr>
						<td>사용자 주소</td>
						<td><input type="text" name="useraddress" size="45"
							id="useraddress" maxlength="30"></td>

					</tr>

					<tr>
						<td>&nbsp;</td>
					</tr>

					<tr>
						<td>사용자 생년월일</td>
						<td><input type="text" name="inyear" size="1"
							style="font-size: 20px;" id="inBorder" class="inBorder"
							maxlength="4" />년 <select name="birthselect"
							style="font-size: 20px;">
								<option value="1">1
								<option value="2">2
								<option value="3">3
								<option value="4">4
								<option value="5">5
								<option value="6">6
								<option value="7">7
								<option value="8">8
								<option value="9">9
								<option value="10">10
								<option value="11">11
								<option value="12">12
						</select> 월 <select name="birthselect" style="font-size: 20px;">
								<option value="1">1
								<option value="2">2
								<option value="3">3
								<option value="4">4
								<option value="5">5
								<option value="6">6
								<option value="7">7
								<option value="8">8
								<option value="9">9
								<option value="10">10
								<option value="11">11
								<option value="12">12
								<option value="13">13
								<option value="14">14
								<option value="15">15
								<option value="16">16
								<option value="17">17
								<option value="18">18
								<option value="19">19
								<option value="20">20
								<option value="21">21
								<option value="22">22
								<option value="23">23
								<option value="24">24
								<option value="25">25
								<option value="26">26
								<option value="27">27
								<option value="28">28
								<option value="29">29
								<option value="30">30
								<option value="31">31
						</select> 일 &nbsp;
					</tr>


					<tr>
						<td>&nbsp;</td>
					</tr>



				</table>
			</form>
			<input class="btn" type="button" value="확인" formaction="memberjoin"
				id="hag">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input class="btn" type="submit" value="취소" formaction="home">


		</div>
	</div>

</body>
</html>