<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
.test-div{
background-color: gray;
height: 20px;
}
#logoimg{
margin-left: 20px;
width: 220px;
height: 110px;
}
#activityinfo{
width: 120px;
height: 100px;
}
#activitypic{
width: 120px;
height: 100px;
}
#activity1{
width: 120px;
height: 100px;
}
#activity2{
width: 120px;
height: 100px;
}
</style>
</head>
<body>
	<div>
		<div class="test-div">
		<a href="#">로그인</a>
		</div>
		<div class="header-div">
			<span><a href="#"><img id="logoimg" src="src/webapp/img/logo.PNG" alt="ItGoologo" /></a></span>
			<span><a href="#"><img id="activityinfo" src="src/webapp/img/activityinfo.PNG" alt="activityinfo" /></a></span>
			<span><a href="#"><img id="activitypic" src="src/webapp/img/activitypic.PNG" alt="activitypic" /></a></span>
			<span><a href="#"><img id="activity1" src="src/webapp/img/activity1.PNG" alt="activity1" /></a></span>
			<span><a href="#"><img id="activity2" src="src/webapp/img/activity2.PNG" alt="activity2" /></a></span>

		</div>
		<div class="body-div">
		
		
		</div>
	</div>
</body>
</html>