<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itcia.itgoo.dao.IActivityDao">

	<insert id="regiActivity" parameterType="Activity">
		insert into activity
		values(activity_seq.nextval,
		#{activityname},#{activityexplanation},#{activitydate},#{activitystart},#{activitytime},#{activitydogcnt},#{companyid},#{activityprice})
	</insert>

	<insert id="insertPic">
		<selectKey resultType="int" keyProperty="activitynum"
			order="BEFORE">
			select max(activitynum) from activity
		</selectKey>
		insert into activitypics values(#{param1},#{activitynum})
	</insert>
	<insert id="insertCompanyPic">
		insert into companypic values(#{param1},#{param2})
	</insert>

	<select id="activityMyInfo1" parameterType="Company"
		resultType="Company">
		select * from company where companyid=#{companyid} and
		companykind=1
	</select>
	<update id="updatecompanyname" parameterType="Company">
		update company set
		companyname=#{companyname} where companyid=#{companyid}
		and
		companykind=1
	</update>
	<update id="updatecompanyboss" parameterType="Company">
		update company set
		companyboss=#{companyboss} where companyid=#{companyid}
		and
		companykind=1
	</update>
	<update id="updatecompanyphone" parameterType="Company">
		update company set
		companyphone=#{companyphone} where companyid=#{companyid}
		and
		companykind=1
	</update>
	<update id="updatecompanyemail" parameterType="Company">
		update company set
		companyemail=#{companyemail} where companyid=#{companyid}
		and
		companykind=1
	</update>
	<update id="updatecompanylocation" parameterType="Company">
		update company
		set companylocation=#{companylocation} where
		companyid=#{companyid} and
		companykind=1
	</update>
	<select id="activityDelete" parameterType="Activity"
		resultType="Activity">
		select c.companyname,a.activitynum,a.activityname,
		a.activitydate,
		a.activitystart,a.activitytime, a.activitydogcnt from
		company c,
		activity a where c.companyid=a.companyid
	</select>
	<select id="deleteDetail" parameterType="int"
		resultType="Activity">
		select activitynum,activityname,activityprice,
		activitydate, activitystart
		from activity where
		activitynum=#{activitynum}
	</select>
	<delete id="activityDeleteBtn" parameterType="String">
		delete from
		activity at where exists(select * from activitypics ap where
		at.activitynum=ap.activitynum and at.activityname=#{activityname} )
	</delete>
	<select id="activitylist" parameterType="Activity"
		resultType="Activity">
		select at.activitynum ,max(ap.activitypic) as activitypic
		,at.activityname,
		at.activityprice,at.activitydate,at.activitystart
		from activity at , activitypics ap
		where at.activitynum= ap.activitynum
		group by at.activitynum, at.activityname, at.activityprice,
		at.activitydate,
		at.activitystart
	</select>
	<select id="activityListDetail" parameterType="int"
		resultType="Activity">
		select at.activitynum,
		at.activityname,at.activityexplanation,at.activitydate,at.activitystart,at.activitytime,
		at.activitydogcnt,at.activityprice, cp.companyname,
		cp.companyphone,cp.companyemail
		from activity at, company cp
		where at.companyid = cp.companyid and at.activitynum = #{activitynum}

	</select>
	<insert id="activityReservationBtn">
		insert into activityreserve values(#{activitynum},#{id},#{dogid})
	</insert>
	<select id="activityPass" parameterType="Activity"
		resultType="Activity">
		select c.companyname,a.activitynum,a.activityname,
		a.activitydate,
		a.activitystart,a.activitytime, a.activitydogcnt 
		from company c,activity a,activityreserve ar 
		where c.companyid=a.companyid and a.activitynum = ar.activitynum
	</select>
	<select id="passDetail" parameterType="int"
		resultType="Reservation">
		select cli.username, cli.useremail, cli.phone,
		at.activityname,dog.dogname from activity at, activityreserve ar,
		adopt ado, client cli, dog dog
		where at.activitynum = ar.activitynum and ar.id =ado.id
		and ado.id= cli.id and ado.dogid = dog.dogid and ado.phase=3
	</select>
</mapper>
