<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itcia.itgoo.dao.IAdminDao">
	<select id="getContents">
	<![CDATA[
		select * from blist where b_num=#{bNum}
	]]>
	</select>
</mapper>