<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itcia.itgoo.dao.IAuctionDao">
<insert id="addAuction">
<selectKey keyProperty="auctionnum" order="AFTER" resultType="int">
	select max(auctionnum) from auction
</selectKey>
	insert into auction values(auction_seq.nextval,#{auctionname},#{auctionpic},#{lowprice},#{auctionexplain},TO_timestamp(#{auctionstart},'MM/DD/YYYY HH:MI:SS AM', 'NLS_DATE_LANGUAGE = AMERICAN'),#{owner},'undefined',0,TO_timestamp(#{auctionend},'MM/DD/YYYY HH:MI:SS AM', 'NLS_DATE_LANGUAGE = AMERICAN'),0)
</insert>
<update id="updateAuctionBider">
<selectKey keyProperty="buyer,realprice" resultType="auction" order="BEFORE">
	select id as buyer,currentprice as realprice from (select * from bidupdate currentprice  where auctionnum=#{auctionnum} order by currentprice desc) where rownum=1
</selectKey>
	update auction set buyer=#{buyer}, realprice=${realprice} where auctionnum=#{auctionnum}
</update>
</mapper>