<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itcia.itgoo.dao.IClientDao">

<select id="myPhasedogList" resultType="Adopt">
		SELECT adopt.DOGID,max(dogpic)as thum,phase,dogname,dogage,dogspecial,sex FROM adopt left join DOG on dog.dogid=adopt.dogid
		left join dogpics on dogpics.dogid=adopt.dogid where adopt.id=#{id} group by adopt.DOGID,phase, dogname, dogage, dogspecial, sex
	</select>



<select id="showmyactivity" resultType="Reservation">
select dog.dogid,client.id,client.username,dog.dogname,
company.companyid,company.companyname,ACTIVITY.ACTIVITYNUM,
activity.ACTIVITYNAME,activity.ACTIVITYDATE,activity.ACTIVITYSTART,
ACTIVITY.ACTIVITYPRICE,ACTIVITY.ACTIVITYTIME
,ACTIVITY.ACTIVITYDOGCNT,ACTIVITY.ACTIVITYEXPLANATION,
activitythumb.activitypic,dogthumb.dogpic
from dogthumb join dog on dog.dogid=dogthumb.dogid
join adopt on adopt.dogid=dog.dogid
join client on adopt.id=client.id
join activityreserve on adopt.dogid=activityreserve.dogid and adopt.id=activityreserve.id
join activity on activityreserve.activitynum=activity.activitynum
join activitythumb on activitythumb.activitynum=activity.activitynum
join company on activity.companyid= company.companyid where adopt.id=#{id} and adopt.dogid=#{dogid}
	</select>

<select id="finalsook" resultType="Dog">
select * from dog where dogid=#{dogid}
	</select>


<select id="showcaresheet" resultType="CareSheet">
select * from caresheet where toggle=1
	</select>

	<insert id="regismallmeeting" parameterType="SmallMeeting">
	insert into smallmeeting values(small_seq.nextval,#{id},#{smalllocation},#{maximumdog},#{meetingname},#{meetparticipatecnt},#{time},#{meetingdate} )

	</insert>

	<select id="myappliedsmall" parameterType="SmallMeeting"
		resultType="SmallMeeting">
	select sm.smallnumber,sm.meetingname, sm.id, sm.smalllocation, sp.smalldogcnt,sm.meetparticipatecnt, sm.meetingdate, sm.time from smallmeeting sm , smallparticipate sp where sm.smallnumber=sp.smallnumber and sp.id=#{id}
	</select>

	<select id="myrecruitsmall" parameterType="SmallMeeting"
		resultType="SmallMeeting">
	select * from smallmeeting where id=#{id}
	</select>
	<select id="smalllistdetail" parameterType="int"
		resultType="SmallMeeting">
	select * from smallmeeting where smallnumber=#{smallnumber}
	</select>
	<insert id="insertsmallmeeting" parameterType="SmallMeeting">
	insert into smallparticipate values (#{id},#{smallnumber},#{smalldogcnt})
	</insert>

	<update id="updatesmallmeeting" parameterType="SmallMeeting">
	update smallmeeting set meetparticipatecnt = (#{meetparticipatecnt}+#{smalldogcnt}) where smallnumber = #{smallnumber}
	</update>
	<delete id="delmysmallmeeting" parameterType="SmallMeeting">
	delete from smallparticipate where id=#{id} and smallnumber = #{smallnumber}
	</delete>
	<update id="updatemeetparticipatecnt" parameterType="SmallMeeting">
	update smallmeeting set meetparticipatecnt = #{meetparticipatecnt}-#{smalldogcnt} where smallnumber = #{smallnumber}
	</update>
	<select id="myenrollsmalldetail" parameterType="int"
		resultType="SmallMeeting">
	select * from smallmeeting where smallnumber=#{smallnumber}
	</select>
	
	
</mapper>
